In [1]:
from tabula import read_pdf

In [2]:
from tabulate import tabulate
import pandas as pd

In [3]:
df  = read_pdf("Food Calories List.pdf",pages=1)

In [4]:
print(df)

[              BREADS & CEREALS               Portion size *  \
0          Bagel ( 1 average )               140 cals (45g)
1           Biscuit digestives        86 cals (per biscuit)
2                   Jaffa cake        48 cals (per biscuit)
3    Bread white (thick slice)       96  cals (1 slice 40g)
4      Bread wholemeal (thick)       88  cals (1 slice 40g)
5                     Chapatis                     250 cals
6                   Cornflakes              130  cals (35g)
7                 Crackerbread            17 cals per slice
8               Cream crackers        35 cals (per cracker)
9                     Crumpets        93 cals (per crumpet)
10   Flapjacks basic fruit mix                     320 cals
11           Macaroni (boiled)              238 cals (250g)
12                      Muesli              195  cals (50g)
13         Naan bread (normal)  300 cals (small plate size)
14            Noodles (boiled)              175 cals (250g)
15     Pasta ( normal boiled )              330 cals (300g)
16   Pasta (wholemeal boiled )              315 cals (300g)
17  Porridge oats (with water)              193 cals (350g)
18         Potatoes** (boiled)              210 cals (300g)
19          Potatoes** (roast)              420 cals (300g)

   per 100 grams (3.5 oz)  Unnamed: 0 energy content
0                310 cals         NaN         Medium
1                480 cals         NaN           High
2                370 cals         NaN       Med-High
3                240 cals         NaN         Medium
4                220 cals         NaN        Low-med
5                300 cals         NaN         Medium
6                370 cals         NaN       Med-High
7                325 cals         NaN    Low Calorie
8                440 cals         NaN  Low / portion
9                198 cals         NaN        Low-Med
10               500 cals         NaN           High
11                95 cals         NaN    Low calorie
12               390 cals         NaN       Med-high
13               320 cals         NaN         Medium
14                70 cals         NaN    Low calorie
15               110 cals         NaN    Low calorie
16               105 cals         NaN    Low calorie
17                55 cals         NaN    Low calorie
18                70 cals         NaN    Low calorie
19               140 cals         NaN         Medium  ]

In [5]:
data_frame = pd.concat(df)
data_frame

,BREADS & CEREALS,Portion size *,per 100 grams (3.5 oz),Unnamed: 0,energy content
0,Bagel ( 1 average ),140 cals (45g),310 cals,NaN,Medium
1,Biscuit digestives,86 cals (per biscuit),480 cals,NaN,High
2,Jaffa cake,48 cals (per biscuit),370 cals,NaN,Med-High
3,Bread white (thick slice),96 cals (1 slice 40g),240 cals,NaN,Medium
4,Bread wholemeal (thick),88 cals (1 slice 40g),220 cals,NaN,Low-med
5,Chapatis,250 cals,300 cals,NaN,Medium
6,Cornflakes,130 cals (35g),370 cals,NaN,Med-High
7,Crackerbread,17 cals per slice,325 cals,NaN,Low Calorie
8,Cream crackers,35 cals (per cracker),440 cals,NaN,Low / portion
9,Crumpets,93 cals (per crumpet),198 cals,NaN,Low-Med
10,Flapjacks basic fruit mix,320 cals,500 cals,NaN,High
11,Macaroni (boiled),238 cals (250g),95 cals,NaN,Low calorie
12,Muesli,195 cals (50g),390 cals,NaN,Med-high
13,Naan bread (normal),300 cals (small plate size),320 cals,NaN,Medium
14,Noodles (boiled),175 cals (250g),70 cals,NaN,Low calorie
15,Pasta ( normal boiled ),330 cals (300g),110 cals,NaN,Low calorie
16,Pasta (wholemeal boiled ),315 cals (300g),105 cals,NaN,Low calorie
17,Porridge oats (with water),193 cals (350g),55 cals,NaN,Low calorie
18,Potatoes** (boiled),210 cals (300g),70 cals,NaN,Low calorie
19,Potatoes** (roast),420 cals (300g),140 cals,NaN,Medium

In [6]:
data_frame = data_frame.dropna(axis='columns')
data_frame

,BREADS & CEREALS,Portion size *,per 100 grams (3.5 oz),energy content
0,Bagel ( 1 average ),140 cals (45g),310 cals,Medium
1,Biscuit digestives,86 cals (per biscuit),480 cals,High
2,Jaffa cake,48 cals (per biscuit),370 cals,Med-High
3,Bread white (thick slice),96 cals (1 slice 40g),240 cals,Medium
4,Bread wholemeal (thick),88 cals (1 slice 40g),220 cals,Low-med
5,Chapatis,250 cals,300 cals,Medium
6,Cornflakes,130 cals (35g),370 cals,Med-High
7,Crackerbread,17 cals per slice,325 cals,Low Calorie
8,Cream crackers,35 cals (per cracker),440 cals,Low / portion
9,Crumpets,93 cals (per crumpet),198 cals,Low-Med
10,Flapjacks basic fruit mix,320 cals,500 cals,High
11,Macaroni (boiled),238 cals (250g),95 cals,Low calorie
12,Muesli,195 cals (50g),390 cals,Med-high
13,Naan bread (normal),300 cals (small plate size),320 cals,Medium
14,Noodles (boiled),175 cals (250g),70 cals,Low calorie
15,Pasta ( normal boiled ),330 cals (300g),110 cals,Low calorie
16,Pasta (wholemeal boiled ),315 cals (300g),105 cals,Low calorie
17,Porridge oats (with water),193 cals (350g),55 cals,Low calorie
18,Potatoes** (boiled),210 cals (300g),70 cals,Low calorie
19,Potatoes** (roast),420 cals (300g),140 cals,Medium

In [7]:
excel_dframe = pd.read_excel("Food Calories List_removed.xlsx")
excel_dframe

,BREADS & CEREALS,Portion size *,per 100 grams\n(3.5 oz),energy content
0,Bagel ( 1 average ),140 cals (45g),310 cals,High
1,Biscuit digestives,86 cals (per biscuit),480 cals,High
2,Jaffa cake,48 cals (per biscuit),370 cals,Med-High
3,Bread white (thick slice),96 cals (1 slice 40g),240 cals,Medium
4,Bread wholemeal (thick),88 cals (1 slice 40g),220 cals,Low-med
5,Chapatis,250 cals,300 cals,Medium
6,Cornflakes,130 cals (35g),370 cals,Med-High
7,Crackerbread,17 cals per slice,325 cals,Low Calorie
8,Cream crackers,35 cals (per cracker),440 cals,Low / portion
9,Crumpets,93 cals (per crumpet),198 cals,Low-Med
10,Flapjacks basic fruit mix,320 cals,500 cals,High
11,Macaroni (boiled),238 cals (250g),95 cals,Low calorie
12,Muesli,195 cals (50g),390 cals,Med-high
13,Naan bread (normal),300 cals (small plate size),320 cals,Medium
14,Noodles (boiled),175 cals (250g),70 cals,Low calorie
15,Pasta ( normal boiled ),330 cals (300g),110 cals,Low calorie
16,Pasta (wholemeal boiled ),315 cals (300g),105 cals,Low calorie
17,Porridge oats (with water),193 cals (350g),55 cals,Low calorie
18,Potatoes** (boiled),210 cals (300g),70 cals,Low calorie
19,Potatoes** (roast),420 cals (300g),140 cals,Medium

In [10]:
for i, (pdf_row, excel_row) in enumerate(zip(data_frame.itertuples(index=False), excel_dframe.itertuples(index=False)), start=1):
    print(f"Iteration {i}:")
    print("PDF Row:", pdf_row)
    print("Excel Row:", excel_row)
    print()
    for j, (pdf_value, excel_value) in enumerate(zip(pdf_row, excel_row), start=1):
        print(f"    Row {i}, Column {j}")
        print(f"    PDF Value: {pdf_value}")
        print(f"    Excel Value: {excel_value}")
        print()

Iteration 1:
PDF Row: Pandas(_0='Bagel ( 1 average )', _1='140 cals (45g)', _2='310 cals', _3='Medium')
Excel Row: Pandas(_0='Bagel ( 1 average )', _1='140 cals (45g)', _2='310 cals', _3='High')

    Row 1, Column 1
    PDF Value: Bagel ( 1 average )
    Excel Value: Bagel ( 1 average )

    Row 1, Column 2
    PDF Value: 140 cals (45g)
    Excel Value: 140 cals (45g)

    Row 1, Column 3
    PDF Value: 310 cals
    Excel Value: 310 cals

    Row 1, Column 4
    PDF Value: Medium
    Excel Value: High

Iteration 2:
PDF Row: Pandas(_0='Biscuit digestives', _1='86 cals (per biscuit)', _2='480 cals', _3='High')
Excel Row: Pandas(_0='Biscuit digestives', _1='86 cals (per biscuit)', _2='480 cals', _3='High')

    Row 2, Column 1
    PDF Value: Biscuit digestives
    Excel Value: Biscuit digestives

    Row 2, Column 2
    PDF Value: 86 cals (per biscuit)
    Excel Value: 86 cals (per biscuit)

    Row 2, Column 3
    PDF Value: 480 cals
    Excel Value: 480 cals

    Row 2, Column 4
    PDF Value: High
    Excel Value: High

Iteration 3:
PDF Row: Pandas(_0='Jaffa cake', _1='48 cals (per biscuit)', _2='370 cals', _3='Med-High')
Excel Row: Pandas(_0='Jaffa cake', _1='48 cals (per biscuit)', _2='370 cals', _3='Med-High')

    Row 3, Column 1
    PDF Value: Jaffa cake
    Excel Value: Jaffa cake

    Row 3, Column 2
    PDF Value: 48 cals (per biscuit)
    Excel Value: 48 cals (per biscuit)

    Row 3, Column 3
    PDF Value: 370 cals
    Excel Value: 370 cals

    Row 3, Column 4
    PDF Value: Med-High
    Excel Value: Med-High

Iteration 4:
PDF Row: Pandas(_0='Bread white (thick slice)', _1='96  cals (1 slice 40g)', _2='240 cals', _3='Medium')
Excel Row: Pandas(_0='Bread white (thick slice)', _1='96  cals (1 slice 40g)', _2='240 cals', _3='Medium')

    Row 4, Column 1
    PDF Value: Bread white (thick slice)
    Excel Value: Bread white (thick slice)

    Row 4, Column 2
    PDF Value: 96  cals (1 slice 40g)
    Excel Value: 96  cals (1 slice 40g)

    Row 4, Column 3
    PDF Value: 240 cals
    Excel Value: 240 cals

    Row 4, Column 4
    PDF Value: Medium
    Excel Value: Medium

Iteration 5:
PDF Row: Pandas(_0='Bread wholemeal (thick)', _1='88  cals (1 slice 40g)', _2='220 cals', _3='Low-med')
Excel Row: Pandas(_0='Bread wholemeal (thick)', _1='88  cals (1 slice 40g)', _2='220 cals', _3='Low-med')

    Row 5, Column 1
    PDF Value: Bread wholemeal (thick)
    Excel Value: Bread wholemeal (thick)

    Row 5, Column 2
    PDF Value: 88  cals (1 slice 40g)
    Excel Value: 88  cals (1 slice 40g)

    Row 5, Column 3
    PDF Value: 220 cals
    Excel Value: 220 cals

    Row 5, Column 4
    PDF Value: Low-med
    Excel Value: Low-med

Iteration 6:
PDF Row: Pandas(_0='Chapatis', _1='250 cals', _2='300 cals', _3='Medium')
Excel Row: Pandas(_0='Chapatis', _1='250 cals', _2='300 cals', _3='Medium')

    Row 6, Column 1
    PDF Value: Chapatis
    Excel Value: Chapatis

    Row 6, Column 2
    PDF Value: 250 cals
    Excel Value: 250 cals

    Row 6, Column 3
    PDF Value: 300 cals
    Excel Value: 300 cals

    Row 6, Column 4
    PDF Value: Medium
    Excel Value: Medium

Iteration 7:
PDF Row: Pandas(_0='Cornflakes', _1='130  cals (35g)', _2='370 cals', _3='Med-High')
Excel Row: Pandas(_0='Cornflakes', _1='130  cals (35g)', _2='370 cals', _3='Med-High')

    Row 7, Column 1
    PDF Value: Cornflakes
    Excel Value: Cornflakes

    Row 7, Column 2
    PDF Value: 130  cals (35g)
    Excel Value: 130  cals (35g)

    Row 7, Column 3
    PDF Value: 370 cals
    Excel Value: 370 cals

    Row 7, Column 4
    PDF Value: Med-High
    Excel Value: Med-High

Iteration 8:
PDF Row: Pandas(_0='Crackerbread', _1='17 cals per slice', _2='325 cals', _3='Low Calorie')
Excel Row: Pandas(_0='Crackerbread', _1='17 cals per slice', _2='325 cals', _3='Low Calorie')

    Row 8, Column 1
    PDF Value: Crackerbread
    Excel Value: Crackerbread

    Row 8, Column 2
    PDF Value: 17 cals per slice
    Excel Value: 17 cals per slice

    Row 8, Column 3
    PDF Value: 325 cals
    Excel Value: 325 cals

    Row 8, Column 4
    PDF Value: Low Calorie
    Excel Value: Low Calorie

Iteration 9:
PDF Row: Pandas(_0='Cream crackers', _1='35 cals (per cracker)', _2='440 cals', _3='Low / portion')
Excel Row: Pandas(_0='Cream crackers', _1='35 cals (per cracker)', _2='440 cals', _3='Low\xa0/\xa0portion')

    Row 9, Column 1
    PDF Value: Cream crackers
    Excel Value: Cream crackers

    Row 9, Column 2
    PDF Value: 35 cals (per cracker)
    Excel Value: 35 cals (per cracker)

    Row 9, Column 3
    PDF Value: 440 cals
    Excel Value: 440 cals

    Row 9, Column 4
    PDF Value: Low / portion
    Excel Value: Low / portion

Iteration 10:
PDF Row: Pandas(_0='Crumpets', _1='93 cals (per crumpet)', _2='198 cals', _3='Low-Med')
Excel Row: Pandas(_0='Crumpets', _1='93 cals (per crumpet)', _2='198 cals', _3='Low-Med')

    Row 10, Column 1
    PDF Value: Crumpets
    Excel Value: Crumpets

    Row 10, Column 2
    PDF Value: 93 cals (per crumpet)
    Excel Value: 93 cals (per crumpet)

    Row 10, Column 3
    PDF Value: 198 cals
    Excel Value: 198 cals

    Row 10, Column 4
    PDF Value: Low-Med
    Excel Value: Low-Med

Iteration 11:
PDF Row: Pandas(_0='Flapjacks basic fruit mix', _1='320 cals', _2='500 cals', _3='High')
Excel Row: Pandas(_0='Flapjacks basic fruit mix', _1='320 cals', _2='500 cals', _3='High')

    Row 11, Column 1
    PDF Value: Flapjacks basic fruit mix
    Excel Value: Flapjacks basic fruit mix

    Row 11, Column 2
    PDF Value: 320 cals
    Excel Value: 320 cals

    Row 11, Column 3
    PDF Value: 500 cals
    Excel Value: 500 cals

    Row 11, Column 4
    PDF Value: High
    Excel Value: High

Iteration 12:
PDF Row: Pandas(_0='Macaroni (boiled)', _1='238 cals (250g)', _2='95 cals', _3='Low calorie')
Excel Row: Pandas(_0='Macaroni (boiled)', _1='238 cals (250g)', _2='95 cals', _3='Low\xa0calorie')

    Row 12, Column 1
    PDF Value: Macaroni (boiled)
    Excel Value: Macaroni (boiled)

    Row 12, Column 2
    PDF Value: 238 cals (250g)
    Excel Value: 238 cals (250g)

    Row 12, Column 3
    PDF Value: 95 cals
    Excel Value: 95 cals

    Row 12, Column 4
    PDF Value: Low calorie
    Excel Value: Low calorie

Iteration 13:
PDF Row: Pandas(_0='Muesli', _1='195  cals (50g)', _2='390 cals', _3='Med-high')
Excel Row: Pandas(_0='Muesli', _1='195  cals (50g)', _2='390 cals', _3='Med-high')

    Row 13, Column 1
    PDF Value: Muesli
    Excel Value: Muesli

    Row 13, Column 2
    PDF Value: 195  cals (50g)
    Excel Value: 195  cals (50g)

    Row 13, Column 3
    PDF Value: 390 cals
    Excel Value: 390 cals

    Row 13, Column 4
    PDF Value: Med-high
    Excel Value: Med-high

Iteration 14:
PDF Row: Pandas(_0='Naan bread (normal)', _1='300 cals (small plate size)', _2='320 cals', _3='Medium')
Excel Row: Pandas(_0='Naan bread (normal)', _1='300 cals (small plate size)', _2='320 cals', _3='Medium')

    Row 14, Column 1
    PDF Value: Naan bread (normal)
    Excel Value: Naan bread (normal)

    Row 14, Column 2
    PDF Value: 300 cals (small plate size)
    Excel Value: 300 cals (small plate size)

    Row 14, Column 3
    PDF Value: 320 cals
    Excel Value: 320 cals

    Row 14, Column 4
    PDF Value: Medium
    Excel Value: Medium

Iteration 15:
PDF Row: Pandas(_0='Noodles (boiled)', _1='175 cals (250g)', _2='70 cals', _3='Low calorie')
Excel Row: Pandas(_0='Noodles (boiled)', _1='175 cals (250g)', _2='70 cals', _3='Low calorie')

    Row 15, Column 1
    PDF Value: Noodles (boiled)
    Excel Value: Noodles (boiled)

    Row 15, Column 2
    PDF Value: 175 cals (250g)
    Excel Value: 175 cals (250g)

    Row 15, Column 3
    PDF Value: 70 cals
    Excel Value: 70 cals

    Row 15, Column 4
    PDF Value: Low calorie
    Excel Value: Low calorie

Iteration 16:
PDF Row: Pandas(_0='Pasta ( normal boiled )', _1='330 cals (300g)', _2='110 cals', _3='Low calorie')
Excel Row: Pandas(_0='Pasta ( normal boiled )', _1='330 cals (300g)', _2='110 cals', _3='Low calorie')

    Row 16, Column 1
    PDF Value: Pasta ( normal boiled )
    Excel Value: Pasta ( normal boiled )

    Row 16, Column 2
    PDF Value: 330 cals (300g)
    Excel Value: 330 cals (300g)

    Row 16, Column 3
    PDF Value: 110 cals
    Excel Value: 110 cals

    Row 16, Column 4
    PDF Value: Low calorie
    Excel Value: Low calorie

Iteration 17:
PDF Row: Pandas(_0='Pasta (wholemeal boiled )', _1='315 cals (300g)', _2='105 cals', _3='Low calorie')
Excel Row: Pandas(_0='Pasta (wholemeal boiled )', _1='315 cals (300g)', _2='105 cals', _3='Low\xa0calorie')

    Row 17, Column 1
    PDF Value: Pasta (wholemeal boiled )
    Excel Value: Pasta (wholemeal boiled )

    Row 17, Column 2
    PDF Value: 315 cals (300g)
    Excel Value: 315 cals (300g)

    Row 17, Column 3
    PDF Value: 105 cals
    Excel Value: 105 cals

    Row 17, Column 4
    PDF Value: Low calorie
    Excel Value: Low calorie

Iteration 18:
PDF Row: Pandas(_0='Porridge oats (with water)', _1='193 cals (350g)', _2='55 cals', _3='Low calorie')
Excel Row: Pandas(_0='Porridge oats (with water)', _1='193 cals (350g)', _2='55 cals', _3='Low calorie')

    Row 18, Column 1
    PDF Value: Porridge oats (with water)
    Excel Value: Porridge oats (with water)

    Row 18, Column 2
    PDF Value: 193 cals (350g)
    Excel Value: 193 cals (350g)

    Row 18, Column 3
    PDF Value: 55 cals
    Excel Value: 55 cals

    Row 18, Column 4
    PDF Value: Low calorie
    Excel Value: Low calorie

Iteration 19:
PDF Row: Pandas(_0='Potatoes** (boiled)', _1='210 cals (300g)', _2='70 cals', _3='Low calorie')
Excel Row: Pandas(_0='Potatoes** (boiled)', _1='210 cals (300g)', _2='70 cals', _3='Low calorie')

    Row 19, Column 1
    PDF Value: Potatoes** (boiled)
    Excel Value: Potatoes** (boiled)

    Row 19, Column 2
    PDF Value: 210 cals (300g)
    Excel Value: 210 cals (300g)

    Row 19, Column 3
    PDF Value: 70 cals
    Excel Value: 70 cals

    Row 19, Column 4
    PDF Value: Low calorie
    Excel Value: Low calorie

Iteration 20:
PDF Row: Pandas(_0='Potatoes** (roast)', _1='420 cals (300g)', _2='140 cals', _3='Medium')
Excel Row: Pandas(_0='Potatoes** (roast)', _1='420 cals (300g)', _2='140 cals', _3='Medium')

    Row 20, Column 1
    PDF Value: Potatoes** (roast)
    Excel Value: Potatoes** (roast)

    Row 20, Column 2
    PDF Value: 420 cals (300g)
    Excel Value: 420 cals (300g)

    Row 20, Column 3
    PDF Value: 140 cals
    Excel Value: 140 cals

    Row 20, Column 4
    PDF Value: Medium
    Excel Value: Medium

In [32]:
# import pandas as pd

# # Sample data
# pdf_df = pd.DataFrame({'A': [1, 4], 'B': [2, 5], 'C': [3, 6]})
# excel_df = pd.DataFrame({'A': [1, 4], 'B': [2, 9], 'C': [3, 6]})

# Initialize an empty list to store comparison results
comparison_results = []

# Iterate over each value in both dataframes
for i, (pdf_row, excel_row) in enumerate(zip(data_frame.itertuples(index=False), excel_dframe.itertuples(index=False)), start=1):
    for j, (pdf_value, excel_value) in enumerate(zip(pdf_row, excel_row), start=1):
        if pdf_value == excel_value:
            comparison_results.append((f"Row {i}, Column {j}", "match"))
        else:
            comparison_results.append((f"Row {i}, Column {j}", "wrong"))

# Create a new dataframe from the comparison results
comparison_df = pd.DataFrame(comparison_results, columns=["Key", "Result"])
pd.set_option('display.max_rows', None)
(comparison_df)

                 Key Result
0    Row 1, Column 1  match
1    Row 1, Column 2  match
2    Row 1, Column 3  match
3    Row 1, Column 4  wrong
4    Row 2, Column 1  match
5    Row 2, Column 2  match
6    Row 2, Column 3  match
7    Row 2, Column 4  match
8    Row 3, Column 1  match
9    Row 3, Column 2  match
10   Row 3, Column 3  match
11   Row 3, Column 4  match
12   Row 4, Column 1  match
13   Row 4, Column 2  match
14   Row 4, Column 3  match
15   Row 4, Column 4  match
16   Row 5, Column 1  match
17   Row 5, Column 2  match
18   Row 5, Column 3  match
19   Row 5, Column 4  match
20   Row 6, Column 1  match
21   Row 6, Column 2  match
22   Row 6, Column 3  match
23   Row 6, Column 4  match
24   Row 7, Column 1  match
25   Row 7, Column 2  match
26   Row 7, Column 3  match
27   Row 7, Column 4  match
28   Row 8, Column 1  match
29   Row 8, Column 2  match
30   Row 8, Column 3  match
31   Row 8, Column 4  match
32   Row 9, Column 1  match
33   Row 9, Column 2  match
34   Row 9, Column 3  match
35   Row 9, Column 4  wrong
36  Row 10, Column 1  match
37  Row 10, Column 2  match
38  Row 10, Column 3  match
39  Row 10, Column 4  match
40  Row 11, Column 1  match
41  Row 11, Column 2  match
42  Row 11, Column 3  match
43  Row 11, Column 4  match
44  Row 12, Column 1  match
45  Row 12, Column 2  match
46  Row 12, Column 3  match
47  Row 12, Column 4  wrong
48  Row 13, Column 1  match
49  Row 13, Column 2  match
50  Row 13, Column 3  match
51  Row 13, Column 4  match
52  Row 14, Column 1  match
53  Row 14, Column 2  match
54  Row 14, Column 3  match
55  Row 14, Column 4  match
56  Row 15, Column 1  match
57  Row 15, Column 2  match
58  Row 15, Column 3  match
59  Row 15, Column 4  match
60  Row 16, Column 1  match
61  Row 16, Column 2  match
62  Row 16, Column 3  match
63  Row 16, Column 4  match
64  Row 17, Column 1  match
65  Row 17, Column 2  match
66  Row 17, Column 3  match
67  Row 17, Column 4  wrong
68  Row 18, Column 1  match
69  Row 18, Column 2  match
70  Row 18, Column 3  match
71  Row 18, Column 4  match
72  Row 19, Column 1  match
73  Row 19, Column 2  match
74  Row 19, Column 3  match
75  Row 19, Column 4  match
76  Row 20, Column 1  match
77  Row 20, Column 2  match
78  Row 20, Column 3  match
79  Row 20, Column 4  match